*{
	box-sizing: border-box;
}

body {

    background-image: url("background.jpg");
	
}
#Title {

	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 20px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: white;
	
}

#Content {
	
	padding-top: 30px;
	padding-bottom: 30px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #990000;

}
	
#Credits {
	
	padding-top: 10px;
	padding-bottom: 10px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: black;
	color: white;
	
}

.button {
    background-color: gray;
    border: none;
    color: white;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	width: 325px;
    font-size: 16px;
    margin-left:auto;
	margin-right: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor:no-drop;
	border-radius: 12px;
}

.button1 {
    background-color: #cccccc;
    color: black;
    border: 3px solid black;
}

.button1:hover {
    background-color: black;
    color: white;
}

.chatContainer {
	width: 600px;
	height: 560px;
	border: 2px solid #ddd;
	background-color: white;
	margin-bottom: 40px;
}

.chatContainer > .chatHeader {
	width: 100%;
	background: #cccccc;
	padding: 5px;
	border: 1px solid #ddd;
}

.chatContainer > .chatHeader h3 {
	margin: 0;
	padding: 0;
	
	font-weight: 400;
	color #333;
}

.chatContainer > .chatMessages {
	height: 480px;
	border-bottom: 1px solid #dddd;
	overflow-y: scroll;
}

.chatContainer > .chatBottom form input[type='submit']{
	padding: 6px;
	background: white;
	border: 1px solid #ddd;
	cursor: pointer;
}

.chatContainer > .chatBottom form input[type='text']{
	width: 85%;
	padding: 3px;
	padding-left: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 10px;
	height: 30px;
}

.cm {
	list-style: none;
	border-bottom: 1px solid #ddd;
	padding: 5px;
}
